<!--
Project name: Assignment 2: myBudget App
File name: navbar.ejs
Author's name: Daria Davydenko
Web-site: https://mybudget-app.herokuapp.com/
File description: This is a partial file that contain navbar for each page.
Pictures were taken from www.pexels.com
Framework: https://materializecss.com/
-->


<!-- NAVBAR -->

  <% if(isActive === 'home' || isActive === 'dashboard' || isActive === 'contact' || isActive === 'current-expenses' ){ %>
    <nav class="absolute">
  <% } else {%>
  <nav>
  <% } %>


  <div class="nav-wrapper transparent">
    <% if (user) { %>
      <a href="#" class="brand-logo">Hello, <%= user.username %></a>
    <% } %>
    <a href="#" data-target="mobile-demo" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/" class="<%= isActive === 'home' ? 'active' : '' %>">Home</a></li>
      <% if (user) { %>
        <li><a href="/current-expenses" class="<%= isActive === 'current-expenses' ? 'active' : '' %>">Expenses</a></li>
      <% } %>
      <li><a href="/dashboard" class="<%= isActive === 'dashboard' ? 'active' : '' %>">Dashboard</a></li>
      <li><a href="/contact" class="<%= isActive === 'contact' ? 'active' : '' %>">Contact Us</a></li>
      <% if (!user) { %>
        <li><a href="/login" class="<%= isActive === 'login' ? 'active' : '' %>">Login</a></li>
        <li><a href="/register" class="<%= isActive === 'register' ? 'active' : '' %>">Register</a></li>
      <% } %>
      <% if (user) { %>
        <li><a href="/logout">Logout</a></li>
      <% } %>

    </ul>
  </div>
</nav>
<!-- END NAVBAR -->

<!-- MOBILE NAVBAR -->
<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Home</a></li>
  <% if (user) { %>
    <li><a href="/current-expenses">Expenses</a></li>
  <% } %>
  <li><a href="/dashboard" >Dashboard</a></li>
  <li><a href="/contact">Contact Us</a></li>
  <% if (!user) { %>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
  <% } %>
  <% if (user) { %>
    <li><a href="/logout">Logout</a></li>
  <% } %>
</ul>
<!-- END MOBILE NAVBAR -->
