<!-- NAVBAR -->
  <nav>
  <div class="nav-wrapper transparent">
    <a href="#" data-target="mobile-demo" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/" class="<%= isActive === 'home' ? 'active' : '' %>">Home</a></li>
      <li><a href="/dashboard" class="<%= isActive === 'dashboard' ? 'active' : '' %>">Dashboard</a></li>
      <li><a href="/contact" class="<%= isActive === 'contact' ? 'active' : '' %>">Contact Us</a></li>
      <li><a href="/login" class="<%= isActive === 'login' ? 'active' : '' %>">Login</a></li>
      <li><a href="/register" class="<%= isActive === 'register' ? 'active' : '' %>">Register</a></li>
    </ul>
  </div>
</nav>
<!-- END NAVBAR -->

<!-- MOBILE NAVBAR -->
<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Home</a></li>
  <li><a href="/dashboard" >Dashboard</a></li>
  <li><a href="/contact">Contact Us</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Login</a></li>
</ul>
<!-- END MOBILE NAVBAR -->
