<% include partials/header %>
<% include partials/navbar %>
<!-- MAIN BANNER -->
<div class="banner">
  <img src="/images/dashboard.jpg" alt="MyBudhet App" class="responsive-img">
  <div class="banner-text banner-home-text">
    <h1><%= title %></h1>
  </div>
</div>
<!-- END MAIN BANNER -->

<!-- CARDS -->
<div class="container">

<div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width">
        <% for (let i = 0; i < expenses.length; i++) { %>
          <li class="tab col s3"><a href="#<%= expenses[i].month %>-<%= expenses[i].year %>"><%= expenses[i].month %>-<%= expenses[i].year %></a></li>
        <% } %>

      </ul>
    </div>
    <% for (let i = 0; i < expenses.length; i++) { %>
      <div id="<%= expenses[i].month %>-<%= expenses[i].year %>" class="col s12">
      <table>
        <thead>
          <tr>
            <th>Category</th>
              <th>
                Expenses
              </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Rent</td>
              <td>
                <%= expenses[i].rent %>
              </td>
          </tr>
          <tr>
            <td>Food</td>
              <td>
                <%= expenses[i].food %>
              </td>
          </tr>
          <tr>
            <td>Buspass</td>
              <td>
                <%= expenses[i].buspass %>
              </td>
          </tr>
        </tbody>
      </table>
      </div>
    <% } %>
  </div>
  </div>
<!-- END CARDS -->


<% include partials/footer %>
