<!--
Project name: Assignment 2: myBudget App
File name: update-expenses.ejs
Author's name: Daria Davydenko
Web-site: https://mybudget-app.herokuapp.com/
File description: This is a page with a form to update expenses in the db.
Pictures were taken from www.pexels.com
Framework: https://materializecss.com/
-->

<% include partials/header %>
<% include partials/navbar %>
<div class="container">
<h1><%= title %> <%= expenses.month %></h1>
  <div class="contact-container">
    <form method="POST">
      <div class="input-field col s12">
        <label for="rent">Rent</label>
        <input id="rent" type="text" class="validate" name="rent" value="<%= expenses.rent %>">
      </div>
      <div class="input-field col s12">
        <label for="food">Food</label>
        <input id="food" type="text" class="validate" name="food" value="<%= expenses.food %>">
      </div>
      <div class="input-field col s12">
        <label for="buspass">Buspass</label>
        <input id="buspass" type="text" class="validate" name="buspass" value="<%= expenses.buspass %>">
      </div>
      <button type="submit" class="waves-effect waves-light btn">Edit</button>
    </form>
  </div>
</div>
<!-- END LOGIN FORM -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../javascripts/materialize.js"></script>
<script type="text/javascript" src="../javascripts/materialize.min.js"></script>
<% include partials/footer %>
